.product-card-custom {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 10px; 
  box-shadow: 0 3px 5px rgba(0,0,0,0.1); 
  transition: transform 0.3s;
  width: 100%;
  max-width: 280px; 
}

.product-card-custom:hover {
  transform: translateY(-5px);
}

.product-card-custom .card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
}

.product-card-custom .product-image {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card-custom .Titulo {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color, #333); 
  text-align: center;
  margin-bottom: 15px;
  min-height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-custom .separator {
  width: 100%;
  height: 3px;
  background-color: #2e0000;
  margin: 5px 0;
}

.product-card-custom .preco {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color, #333); 
  text-align: center;
  margin: 10px 0;
}

.product-card-custom .carrinho {
  width: 100%;
  height: 50px;
  background-color: #5c0000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.product-card-custom .carrinho:hover {
  background-color: #7a0000;
}

.product-card-custom .carrinho i {
  color: #ffffff;
  font-size: 18px;
}